<!-- public/signup.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/user/signup" method="post">
      <label>ID:</label>
      <input type="text" name="user_id" required />
      <br />
      <label>Password:</label>
      <input type="password" name="user_pw" required />
      <br />
      <label>Username:</label>
      <input type="text" name="user_nick" required />
      <br />
      <label>phone:</label>
      <input type="text" name="user_phone" required />
      <br />
      <label>address:</label>
      <input type="text" name="user_addr" required />
      <br />
      <label>우편주소:</label>
      <input type="text" name="user_post" required />
      <br />
      <label>Email:</label>
      <input type="text" name="user_email" required />
      <br />
      <label>성별:</label>
      <input type="text" name="user_sex" required />
      <br />
      <label>나이:</label>
      <input type="text" name="user_age" required />
      <br />
      <label>생일:</label>
      <input type="text" name="user_birth" required />
      <br />
      <input type="submit" value="Signup" />
    </form>
  </body>
</html>
