<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shorcut icon"
      sizes="16x16 32x32 64x64"
      href="/imgs/아이굿즈 로고1.png"
    />
    <title>아이굿즈</title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/text2img.css" />
  </head>
  <body>
    {% include "header.html" %}
    <div id="load" class="hide">
      <img src="/imgs/이미지 생성중.gif" alt="">
    </div>
    <div class="container">
      <!-- 사이드 -->
      <div class="side"></div>
      <!-- 메인 구성 -->
      <div class="main">
        <!-- 이미지 생성 설정 -->
        <div id="main_prompt">
          <form action="/images/text2img" method="post">
            <div class="text_prompt">
              <p>명령어</p>
              <input
                type="text"
                name="prompt"
                placeholder="생성할 이미지를 설명해주세요"
              />
              <p>부정 명령어</p>
              <input
                type="text"
                name="negative_prompt"
                placeholder="이미지에 넣지 않을 것을 설명해주세요"
              />
            </div>
            <div class="sub_prompt">
              <div class="range" id="range1">
                <span>실행횟수</span>
                <input
                  type="range"
                  name="prior_num_inference_steps"
                  max="50"
                  min="10"
                  value="20"
                  step="1"
                  oninput="document.getElementById('range_val1').innerHTML=this.value"
                />
                <span class="range_text" id="range_val1">20</span>
              </div>
              <div class="range" id="range2">
                <span>명령어 수행도</span>
                <input
                  type="range"
                  name="guidance_scale"
                  max="20"
                  min="5"
                  value="13"
                  step="0.1"
                  oninput="document.getElementById('range_val2').innerHTML=this.value"
                />
                <span class="range_text" id="range_val2">13</span>
              </div>
              <div class="range" id="range3">
                <span>이미지 수</span>
                <input
                  type="range"
                  name="samples"
                  max="4"
                  min="1"
                  value="1"
                  step="1"
                  oninput="document.getElementById('range_val3').innerHTML=this.value"
                />
                <span class="range_text" id="range_val3">1</span>
              </div>
              <input type="submit" value="이미지 생성" class="submit" />
            </div>
          </form>
        </div>
        <div id="main_image"></div>
      </div>
      <!-- 사이드 -->
      <div class="side"></div>
    </div>
    {% include "footer.html" %}
    <script src="/js/jquery-3.7.0.js"></script>
    <script>
      window.onload = function () {
        const params = new URLSearchParams(window.location.search);
        const message = params.get("message");

        if (message) {
          alert(message);
        }
      };

      $('.submit').on('click',()=>{
        $('#load').removeClass('hide')
      })
    </script>
  </body>
</html>
